/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Inter');

/* Reconcilation page styles */
.recon-title{
    color: rgba(0, 0, 0, 0.74);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding-top: 31px;
    padding-left: 30px !important;
}

.button-div{
    padding-top: 31px;
    padding-right: 30px !important;
}

.button-new{
    background-color: #3B245A !important;
    width: 79px !important;
    height: 35px !important;
    padding: 6px 12px !important;
    border-radius: 4px !important;
    border-color: #3B245A !important;
    float: right !important;
    font-family: "Inter" !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.recon-table{
    margin-top: 26px;
    width: 98%;
    margin-left: 0.5%;
    font-family: "Inter";
}

.sort-icon{
    position: relative;
    bottom: 2px;
}

.recon-table table .css-k9177t-MuiTableCell-root{
    font-family: "Inter" ;
    color: #9298A4;
    font-weight: 700;
    font-size: 12px;
}
.recon-table table .css-1uascl3-MuiTableCell-root{
    font-family: "Inter";
    font-weight: 500;
    line-height: 17px;
    color: rgba(3, 13, 27, 0.6);
}